/*  Header */
/*Header Inner*/
header {
  position: relative;
}
.header {
  padding-top: 30px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header_inner {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo > p {
  font-size: 2em;
}

/*  NAV  */

.header_nav > a {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(25, 25, 25);
  text-decoration: none;
  margin: 0px 20px;
}

.header_nav > a:hover {
  color: rgb(16, 201, 195);
}

/* ====Header_nav color==== */

.nav_link_activ {
  color: rgb(16, 201, 195) !important;
  position: relative;
}

.nav_link_activ:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 100%;
  right: 0;
  height: 3px;
  background-color: #10c9c3;
}

/* intro */

h1 {
  font-size: 38px;
  color: #1d1d1d;
  margin-bottom: 30px;
  line-height: 1em;
  font-weight: 700;
}

.header_intro {
  background: url(/pages/images/headerPhoto1.jpg) 0 -90px;
  background-size: 1200px;
  height: 680px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.intro {
  padding-right: 80px;
  padding-left: 30px;
  max-width: 470px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.intro_button {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: #10c9c3;
  border: 0;

  margin-top: 30px;
}

.intro_button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  height: 100%;
  cursor: pointer;
  padding: 20px 45px;
}

.intro_button:active {
  box-shadow: 1px 3px 7px #777;
}

@media screen and (max-width: 700px) {
  .intro {
    padding-right: 7px;
  }

  .header_intro {
    align-items: center;
  }
}
