/*  Comments  */

.comment {
  width: 100%;
  min-height: 450px;
  background-color: #10c9c3;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}

.comment_text {
  font-size: 24px;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.comment_author {
  font-size: 12px;
}
.comment1 {
  width: 68%;
  position: absolute;
  transition: opacity 0.9s ease-in-out;
  margin-bottom: 30px;
  cursor: pointer;
}

/**********       COMMENT NAV       **********/

.navComment {
  background-color: #10c9c3;
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.navComment_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  a {
    cursor: pointer;
    color: #fff;
    position: relative;
  }
}

.navComment_1:hover,
.navComment_2:hover {
  margin-top: -5px;
}

.navComment_1:hover::after,
.navComment_2:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 100%;
  height: 3px;
  background-color: #fff;
}

.navComment_symbol {
  font-size: 38px;
  font-weight: 900;
}

.navComment_symbol:hover {
  font-size: 43px;
  font-weight: 900;
}

.container2 {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

/*    NAV MENU   */

.navComment_menu {
  position: absolute;
  z-index: 10;
  width: 90%;
  min-height: 430px;
  bottom: 65px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  background-color: rgba(33, 33, 33, 0.9);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  border-radius: 20px;
  padding: 70px;
  padding-top: 50px;

  opacity: 0;

  h3 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .activComment {
    text-decoration: underline solid #10c6c9;
  }
  
  li {
    cursor: pointer;
    margin-top: 8px;

    span {
      font-size: 20px;
      font-weight: 400;
    }

    span:hover {
      text-decoration: underline solid #fff;
    }
  }
  
}


@media screen and (max-width: 700px) {
  .navComment_menu {
    min-height: 430px;
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .comment {
    min-height: 560px;
  }

  .comment1 {
    width: 80%;
  }
  .navComment_menu {
    min-height: 530px;
    padding: 30px;
  }
}

@media screen and (max-width: 420px) {
  .container2 {
    padding-left: 2px;
    padding-right: 2px;
  }
}
