/*  Form in Form  */

.form {
  min-height: 480px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.form_margin_bottom {
  margin-top: -30px;
}

.form_block {
  margin: 0 15px;
  width: 640px;

  textarea{
    border: 0;
  
    margin-top: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: "Montserrat", sans-serif;
    max-height: 400px;
    max-width: 100%;
    resize: none;
  }

  input {
    border: 0;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
  }
}

.form_personalData {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  input {
    width: 300px;
    height: 50px;
  }
}


#Title {
  width: 100%;
  height: 50px;
}

#Comment {
  width: 100%;
  height: 170px;
}

.form_button {
  margin: 20px 0 0;
}

@media screen and (max-width: 660px) {
  .form_personalData input {
    width: 100%;
    height: 50px;
  }
}
