/*  Photos  */

.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  text-align: center;
  font-size: 45px;
  background-color: #252525;
  width: 25%;
  position: relative;

  img {
    display: inline-block;
    width: 100%;
    opacity: 1;
    margin-bottom: 0px;
    transition: opacity 0.2s linear;
  }
}

.photo:hover .photo_background {
  opacity: 1;
}

.photo_background {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.photo:hover img {
  opacity: 0.1;
}

.photos_text {
  text-transform: uppercase;
  font-size: 12px;

  text-align: center;
  height: 100px;
  background-color: #f5f5f5;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #8e8e8e;
    height: 100%;
    cursor: pointer;
  }
}

/*  Photo for Home  */

.photo_backgroundColor {
  background-color: #10c9c3;
  color: #fff;
}

.photo_backgroundColor:hover img {
  opacity: 0.4;
}

@media screen and (max-width:540px){
  .photo {
    width: 50%;
  }
}