/*  Slider  */

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 60px;
}

.sliderH2 {
  font-size: 30px;
  color: #191919;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 75px;
}
.slider_signature {
  height: 105px;
}

.slider_forForm {
  background-color: #f5f5f5;
  color: #1d1d1d;
}

/*  Video  */

.video {
  margin: 60px 0 30px;
  display: flex;
  justify-content: center;
  width: 60%;

  iframe {
    width: 100%;
    height: 356px;
  }
}

@media screen and (max-width: 900px) {
  .video {
    width: 80%;

    iframe {
      height: 334px;
    }
  }
}

@media screen and (max-width: 580px) {
  .video {
    width: 100%;

    iframe {
      height: 296px;
    }
  }
}
