body {
  background: #282828;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #787878;
  line-height: 1.4em;
}

main {
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 320px;
}

/* Container */
.marginTB {
  padding-bottom: 20px;
  padding-top: 25px;
}

.container1 {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.alignBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  Header */
/*Header Inner*/
header {
  position: relative;
}

.header {
  padding-top: 30px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header_inner {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo > p {
  font-size: 2em;
}

/*  NAV  */
.header_nav > a {
  text-transform: uppercase;
  font-size: 12px;
  color: #191919;
  text-decoration: none;
  margin: 0px 20px;
}

.header_nav > a:hover {
  color: #10c9c3;
}

/* ====Header_nav color==== */
.nav_link_activ {
  color: #10c9c3 !important;
  position: relative;
}

.nav_link_activ:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 100%;
  right: 0;
  height: 3px;
  background-color: #10c9c3;
}

/* intro */
h1 {
  font-size: 38px;
  color: #1d1d1d;
  margin-bottom: 30px;
  line-height: 1em;
  font-weight: 700;
}

.header_intro {
  background: url(../../../pages/images/headerPhoto1.jpg) 0 -90px;
  background-size: 1200px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.intro {
  padding-right: 80px;
  padding-left: 30px;
  max-width: 470px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.intro_button {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  background-color: #10c9c3;
  border: 0;
  margin-top: 30px;
}
.intro_button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white !important;
  height: 100%;
  cursor: pointer;
  padding: 20px 45px;
}

.intro_button:active {
  box-shadow: 1px 3px 7px #777;
}

@media screen and (max-width: 700px) {
  .intro {
    padding-right: 7px;
  }

  .header_intro {
    align-items: center;
  }
}
/*  Facts_sheet  */
.flex_row_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.facts {
  color: #fff;
  background-color: #10c9c3;
  min-height: 250px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.facts_sheet {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
}

.facts_elem {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 265px;
}
.facts_elem div {
  padding-left: 20px;
}

.facts_elem_num {
  font-size: 18px;
}

.facts_elem_name {
  text-transform: uppercase;
  font-size: 12px;
}

@media screen and (max-width: 555px) {
  .facts_elem {
    justify-content: flex-start;
  }
}
/** Footer  **/
.footer {
  background-color: #141414;
  color: #fff;
  font-size: 14px;
  min-height: 200px;
  line-height: 1.5em;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer a {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.footer_contacts {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 30px 60px;
}

.footer_contacts1 {
  margin-bottom: 20px;
  text-align: left;
}

.footer_contactsBold {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer_column {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 40%;
}

.footer_columnProjects {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer_columnNews {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer_columnFacebook {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

@media screen and (max-width: 900px) {
  .footer_contacts {
    width: 100%;
    padding-right: 60px;
  }

  .footer_column {
    padding-left: 60px;
    width: 100%;
  }

  .footer_columnProjects {
    justify-content: left;
  }
}
/** Footer  **/
.footer {
  background-color: #141414;
  color: #fff;
  font-size: 14px;
  min-height: 200px;
  line-height: 1.5em;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer a {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.footer_contacts {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 30px 60px;
}

.footer_contacts1 {
  margin-bottom: 20px;
  text-align: left;
}

.footer_contactsBold {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer_column {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 40%;
}

.footer_columnProjects {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer_columnNews {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer_columnFacebook {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

@media screen and (max-width: 900px) {
  .footer_contacts {
    width: 100%;
    padding-right: 60px;
  }

  .footer_column {
    padding-left: 60px;
    width: 100%;
  }

  .footer_columnProjects {
    justify-content: left;
  }
}
/*  Slider  */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 60px;
}

.sliderH2 {
  font-size: 30px;
  color: #191919;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 75px;
}

.slider_signature {
  height: 105px;
}

.slider_forForm {
  background-color: #f5f5f5;
  color: #1d1d1d;
}

/*  Video  */
.video {
  margin: 60px 0 30px;
  display: flex;
  justify-content: center;
  width: 60%;
}
.video iframe {
  width: 100%;
  height: 356px;
}

@media screen and (max-width: 900px) {
  .video {
    width: 80%;
  }
  .video iframe {
    height: 334px;
  }
}
@media screen and (max-width: 580px) {
  .video {
    width: 100%;
  }
  .video iframe {
    height: 296px;
  }
}
/*  HeaderAbout  */
.headerAbout {
  width: 100%;
  background-color: #3e3e3e;
  min-height: 350px;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 100%;
  min-height: 350px;
  background-image: url(../../../pages/images/AboutHeader4.jpg);
  background-size: 1200px;
  background-position: left bottom;
  opacity: 0.6;
}

.headerAbout_block {
  position: absolute;
  padding: 0 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.headerAbout_title {
  font-size: 38px;
  margin: 0 0 30px;
}

/*  About  */
.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #787878;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.about_image {
  width: 50%;
}

.about_block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 318px;
}

.about_block > div {
  width: 70%;
}

.about_block h2 {
  font-size: 30px;
  color: #171717;
  margin-bottom: 25px;
  font-weight: 700;
}

.about b {
  font-weight: 700;
  color: #171717;
}

@media screen and (max-width: 645px) {
  .about_block {
    width: 100%;
  }

  .about_block > div {
    padding: 60px 0;
    width: 85%;
  }

  .about_image {
    width: 100%;
    order: 2;
  }
}

/*# sourceMappingURL=About.css.map */
