@import "../partials/partailComponents/parametrs";
@import "../partials/partailComponents/header";
@import "../partials/partailComponents/footer";
@import "../partials/partailComponents/slider";
@import "../partials/partailComponents/facts";
@import "../partials/partailPages/project";
