/*  HeaderAbout  */

.headerAbout {
  width: 100%;
  background-color: #3e3e3e;
  min-height: 350px;

  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 100%;
  min-height: 350px;
  background-image: url(/pages/images/AboutHeader4.jpg);
  background-size: 1200px;
  background-position: left bottom;
  opacity: 0.6;
}

.headerAbout_block {
  position: absolute;
  padding: 0 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.headerAbout_title {
  font-size: 38px;
  margin: 0 0 30px;
}

/*  About  */

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #787878;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.about_image {
  width: 50%;
}

.about_block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 318px;
}

.about_block > div {
  width: 70%;
}

.about_block h2 {
  font-size: 30px;
  color: #171717;
  margin-bottom: 25px;
  font-weight: 700;
}

.about b {
  font-weight: 700;
  color: #171717;
}

@media screen and (max-width: 645px) {
  .about_block {
    width: 100%;
  }
  .about_block > div {
    padding: 60px 0;
    width: 85%;
  }
  .about_image {
    width: 100%;
    order: 2;
  }
}
